# IDE / OS
.idea/
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/

# Env files
.env
.env.*

# Local data
*.db
*.sqlite3
*.log

# Frontend build (на будущее)
node_modules/
dist/
build/
